* 
{
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 1em;
    background-color: #f9f9f9;
    margin: 2em auto;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header, .footer {
    flex: 0 0 auto;
}

/* Navbar */

.nav {
    display: flex;
    align-items: center;
    background-color: #035a13;
    padding: 1em 2em;
    color: white;
    justify-content: flex-end;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1rem;
}

.nav a:hover {
    background-color: #c5c5c5;
}

@media (max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        padding: 1em;
        width: 100%;
        text-align: center;
    }
}

/* Header */

.header, .site-header {
    display: flex;
    background-color: rgb(139, 202, 139);
    justify-content: center;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: rgb(139, 202, 139);
    margin-top: auto;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    padding: 20px;
    text-align: flex;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 300px;
    padding: 20px;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
