.footer {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
  background-color: $color-soft-peach;
  color: $main-font-color;
  font-size: 1rem;
  font-style: italic;
  margin-top: auto;

  .social a {
    text-decoration: none;
    font-size: 3rem;
    color: $main-font-color;
  }
}  
