.header {
  display: flex;
  flex-direction: row;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
  background-color: $color-blue-grey;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-size: 2rem;
  color: $color-soft-coral;
}

.title a {
  color: $main-font-color;
}

.logo img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 150px;
  padding: 20px;
}
