table {
  font-size: 1.4em;
  margin-bottom: 1.96rem;
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(2n) {
    background-color: #ddd;
  }
  
  tbody>tr:hover {
    background-color: #faa;
  }

  td,
  th {
    padding: 4px 12px;
  }

  th {
    text-align: left;
  }

  td {
    border-top: 1px solid #ccc;
  }
}
