body {
  line-height: 1.4;
  font-family: 'Faculty Glyphic', sans-serif;
  color: $color-deep-brown;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 300px;
  padding: 20px;
}
