body {
  line-height: 1.4;
  font-family: 'Faculty Glyphic', sans-serif;
  color: $main-font-color;
}

img {
  filter: $img-filter;
  width: 600px;
  height: auto;
}

p {
  font-size: 1.4em;
  margin-bottom: 1.96rem;
}

a {
  color: $link-color;
}

a:hover {
  color: $hover-link;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}
