$color-blue-grey: #dfedf2;
$color-soft-peach: #bfada8;
$color-soft-coral: #a66f6f;
$color-muted-teal: #569ea6;
$color-cool-blue-grey: #1d3740;

$main-background-color: #fff;
$main-font-color: #333;
$outer-background-color: #fff;
$box-color: #fff;
$other-font-color: #000;

$link-color: #3498db;
$hover-link: #e74c3c;

$img-filter: none;
