$color-blue-grey: #dfedf2;
$color-soft-peach: #bfada8;
$color-soft-coral: #a66f6f;
$color-muted-teal: #569ea6;
$color-cool-blue-grey: #1d3740;

$main-background-color: #fff;
$main-font-color: #333;
$outer-background-color: #f3f3f3;
$box-color: #efe1e1;
$other-font-color: #000;

$link-color: #084768;
$link-color2: #084768;
$hover-link: #e74c3c;
$hover-color: #593b3b;

$img-filter: none;
$nav-text: #a66f6f;
