$color-blue-grey: #535353;
$color-soft-peach: #515151;
$color-soft-coral: #1e1e1e;
$color-muted-teal: #2d2b2b;
$color-cool-blue-grey: #0f0f0f;

$main-background-color: #333;
$main-font-color: #fff;
$outer-background-color: #727171;
$box-color: #dcdcdc;
$other-font-color: #000;

$link-color: #e3a2ff;
$link-color2: #b711fe;
$hover-link: #015507;
$hover-color: #593b3b;

$img-filter: grayscale(100%);
$nav-text: #fff;
